/* Vars ----------------------------------------------------*/
/* Mixins ----------------------------------------------------*/
/* SLIDER --------------------------------------------------------- */
/*
 * jQuery Nivo Slider v3.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f3e4c8;
  color: #585246;
  width: 100%;
  z-index: 8;
  padding: 5px 10px;
  opacity: 1;
  overflow: hidden;
  display: none;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}
.nivo-prevNav {
  left: 0px;
}
.nivo-nextNav {
  right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 15px 0;
}
.nivo-controlNav a {
  cursor: pointer;
}
.nivo-controlNav a.active {
  font-weight: bold;
}
/*
Skin Name: Nivo Slider Specter Theme
Skin Type: flexible
Description: Custom Skin
Version: 1
Author: #SPWRD Authors
*/
.theme-nivo-specter {
	background: #fff;
	margin-bottom: 20px;
	position: relative;
}
.theme-nivo-specter.theme-home {
  margin-bottom: 10px;
}
.theme-nivo-specter .nivoSlider {
  position: relative;
  background: #f3e4c8 url(../img/loading.gif) no-repeat 50% 50%;
}
.theme-nivo-specter .nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.theme-nivo-specter .nivoSlider a {
  border: 0;
  display: block;
}
.theme-nivo-specter .nivo-controlNav {
	text-align: left;
	padding: 10px 0;
	position: absolute;
	bottom: 0px;
	left: 20px;
	z-index: 5;
}
.theme-nivo-specter .nivo-controlNav a {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #333333;
  text-indent: -9999px;
  border: 0;
  margin: 0 2px;
  -moz-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  border-radius: 11px 11px 11px 11px;
}
.theme-nivo-specter .nivo-controlNav a.active {
  background: #009899;
}
.theme-nivo-specter .nivo-directionNav a {
  display: block;
  width: 38px;
  height: 38px;
  background: url(../img/icon-arrows.png) no-repeat 0px -38px;
  text-indent: -9999px;
  border: 0;
  top: 60%;
}

.theme-nivo-specter a.nivo-nextNav {
  background-position: 0px 0px;
  right: 20px;
}
.theme-nivo-specter a.nivo-prevNav {
  left: 20px;
}
.theme-nivo-specter .nivo-caption {
	font-family: inherit;
	left: auto;
	right: -500px;
	bottom: 20px;
	background: #000;
	color: #fff;
	width: 40%;
	min-height: 50%;
	padding: 20px;
	opacity: .8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=8);	opacity: .8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=8);
	display: none;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
}
.theme-nivo-specter .nivo-caption a {
  color: #cb5432;
  border-bottom: 1px dotted #cb5432;
}
.theme-nivo-specter .nivo-caption a:hover {
  color: #cb5432;
}
.theme-nivo-specter .nivo-controlNav.nivo-thumbs-enabled {
  width: 100%;
}
.theme-nivo-specter .nivo-controlNav.nivo-thumbs-enabled a {
  width: auto;
  height: auto;
  background: none;
  margin-bottom: 5px;
}
.theme-nivo-specter .nivo-controlNav.nivo-thumbs-enabled img {
  display: block;
  width: 120px;
  height: auto;
}
